body {
    background: #fff;
    color: #222 !important;
}
.bg::before {
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.10;
}
.fixed-nav {
    position: fixed;
    top: 0;
    z-index: 2;
}
#menu {
    margin-left: 20px;
}
.app-name {
    font-size: 1.8rem;
}
.grs {
    position: absolute;
    margin: 10px 0;
    background-color: #ccc;
    height: 42px;
    width: 1px;
}
.dashboard-header {
    margin-top: .75rem;
}
.org-logo {
    margin: 0 20px 15px 0;
    max-width: 115px;
    height: auto;
}
.org-name {
    font-size: 2.125rem;
    margin-bottom: 1rem;
}
.org-info {
    font-size: 1.125rem;
    margin-bottom: .25rem !important;
}
.side-logo {
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}
.side-org-name {
    margin: 0 0 15px
}
.side-org-address {
    line-height: 1.5rem;
    margin: .3125rem 0 !important
}
.side-org-contact {
    line-height: 1.5rem;
    margin: .625rem 0 !important
}
.welcome {
    margin-top: .75rem;
}
.welcome-text {
    font-size: 1.4rem;
}
.secondary-nav,
.card,
button,
.btn,
.btn-large,
.btn-small,
.delete-title {
    border-radius: 4px !important;
}
.card-action a,
.card-action button,
.card-action .btn,
.card-action .btn-large {
    margin-right: 15px !important;
}
.card-detail tr,
.card-delete tr {
    border-bottom: 1px solid #ddd !important;
}
.card-detail tr:hover,
.card-delete tr:hover {
    background: #f5f5f5 !important;
}
.card-detail td:nth-child(1),
.card-delete td:nth-child(1) {
    font-weight: 700;
}
.card-detail td:nth-child(2),
.card-delete td:nth-child(2) {
    padding: 1rem 0;
}
.card-detail td:nth-child(3),
.card-delete td:nth-child(3) {
    padding-left: 10px;
}
.card-detail td:nth-child(3) .btn,
.card-delete td:nth-child(3) .btn {
    margin-right: 15px
}
.card-detail img {
    height: auto;
    max-width: 100%;
}
.card-delete {
    margin-top: 1.25rem !important;
}
td img {
    height: auto;
    max-width: 100%;
}
.input-field textarea:focus + label {
    color: #7cb342;
}
.input-field textarea.valid {
    border-bottom: 1px solid #4caf50;
    -webkit-box-shadow: 0 1px 0 0 #4caf50;
    -moz-box-shadow: 0 1px 0 0 #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
.input-field textarea.invalid {
    border-bottom: 1px solid #f44336;
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    -moz-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}
.input-field textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 1rem;
    height: 3rem;
    margin: 0 0 15px;
    outline: none;
    overflow-y: hidden;
    padding: 0;
    resize: vertical;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
}
.input-field textarea:focus {
    border-bottom: 1px solid #7cb342;
    -webkit-box-shadow: 0 1px 0 0 #7cb342;
    -moz-box-shadow: 0 1px 0 0 #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}
.input-field .prefix ~ .select-wrapper {
    margin-left: 3rem;
    margin-top: 0;
    width: 92%;
    width: calc(100% - 3rem);
}
#table_wrapper {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 1rem;
    padding: 15px 15px 30px 15px;
    width: 100% !important;
}
.mdc-layout-grid__inner .select-wrapper {
    width: 50px !important;
    display: inline-block;
}
.mdc-layout-grid__inner .select-wrapper input {
    width: 50px !important;
}
.mdc-layout-grid__inner label,
.mdc-layout-grid__inner .select-wrapper .select-dropdown {
    font-size: 1rem !important;
}
.mdc-layout-grid__inner input {
    width: 320px !important;
}
.mdc-data-table__header-row th {
    font-size: 1.0625rem !important;
}
.mdc-data-table__table {
    white-space: normal !important;
}
.mdc-data-table__cell {
    font-size: 1rem !important;
    letter-spacing: 0 !important;
    line-height: 1.5 !important;
}
.dataTables_empty {
    text-align: center;
}
.dataTables_length label,
.dataTables_filter label {
    color: #444 !important;
}
.autocomplete-suggestions {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: auto;
}
.autocomplete-suggestion {
    overflow: hidden;
    padding: 8px;
    white-space: nowrap;
}
.autocomplete-selected {
    background: #e5e5e5;
}
.autocomplete-suggestions strong {
    background: #f9e538;
    font-weight: 400;
}
.autocomplete-group {
    padding: 8px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
#galeri-grid {
    margin: -20px 0 40px;
}
.grid {
   -webkit-column-count: 1;
   -webkit-column-gap: 0;
   -moz-column-count: 1;
   -moz-column-gap: 0;
   column-count: 1;
   column-gap: 0;
   line-height: 0;
}
.grid a {
    display: block;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
}
.grid img {
    height: auto;
    width: 100%;
}
#loader {
    animation: spin 1.5s linear infinite;
    border: 8px solid #eee;
    border-top: 8px solid #2196f3;
    border-radius: 50%;
    height: 60px;
    margin: 40px auto 50px;
    width: 60px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
.mb-1 {
    margin-bottom: 1rem !important;
}
.link-text {
    color: #2196F3 !important;
    font-weight: 700;
    margin-right: 0 !important;
    text-transform: inherit !important;
}
.restore-warning {
    font-size: 19px;
    margin-top: -10px !important;
    padding-left: 40px;
}
.attachment-icon {
    color: #666;
    font-size: 20px;
}
.dotted {
    border-bottom: 1px dotted #eee;
}
#alert-message {
    font-size: 0.9rem;
    margin-bottom: .5rem;
}
.notif {
    margin: -.5rem 0 !important;
}
.notif .card-title {
    line-height: 1.25 !important;
}
.green-text,
.red-text {
    font-weight: normal !important;
}
.waves-green {
    margin-bottom: -20px !important;
}
div.callout {
    height: auto;
    width: auto;
    float: left;
}
div.callout {
    position: relative;
    padding: 13px;
    border-radius: 3px;
    margin: 25px;
    min-height: 46px;
    top: -25px;
}
.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
}
.callout.bottom::before {
    left: 25px;
    top: -20px;
    border-bottom: 10px solid #ffcdd2;
}
.footer-copyright {
    line-height: 2.25;
    padding: 1.185rem 0 .875rem;
}
.separator {
    margin: 0 .875rem 0 .625rem;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
    background: #2196f3;
    pointer-events: none;
}
@media print {
    nav,
    .btn-large,
    footer {
        display: none;
    }
    body {
        color: #212121 !important;
        font-size: 12px !important;
    }
    .container {
        margin-top: -20px !important;
    }
    .agenda {
        font-size: 13px;
        text-align: center;
        color: #212121;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    th,
    td {
        border: 1px solid #444 !important;
    }
    th {
        padding: 5px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    td {
        padding: 5px;
    }
}
@media all and (min-width: 400px) {
    .grid {
       -webkit-column-count: 2;
       -moz-column-count: 2;
       column-count: 2;
    }
}
@media all and (min-width: 640px) {
    .grid {
       -webkit-column-count: 3;
       -moz-column-count: 3;
       column-count: 3;
    }
}
@media all and (min-width: 992px) {
    .grid {
       -webkit-column-count: 4;
       -moz-column-count: 4;
       column-count: 4;
    }
}
@media all and (max-width: 701px) {
    .table-responsive {
        width: 100%;
        overflow-x: auto !important;
    }
}
@media all and (min-width: 993px) {
    main {
        margin-top: 64px;
    }
    .welcome {
        margin-top: 0;
    }
}

.input-container {
    width: calc(100% - 42px) !important;
}
.select2-selection,
.select2-container--default,
.select2-selection--multiple,
.select2-container--focus {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0 !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-bottom: 1px solid #9e9e9e !important;
}
.select2-search__field::placeholder {
    color: #4e4e4e;
}
